.header {
  padding: 1rem 1.5rem;

  &Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.help {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;

  &Text {
    font-weight: 600;
  }
}

.profile {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  &Icon {
    height: 100%;
    width: 100%;
    background-color: var(--purple-00);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Name {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--black-00);
  }
}
