.sidebar {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 5rem;
  transition: max-width var(--transition-delay) var(--transition-timing);

  &Nav {
    padding: 1.25rem 0;
  }

  &_open {
    max-width: 11.75rem;
  }
}
