@import './fonts.scss';
@import './reset.scss';
@import './variables/sizes.scss';
@import './variables/colors.scss';

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--black-00);
  height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
