.container{
	position: relative;
.text {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: var(--black-00);

	&:hover {
		background-color: rgba(88, 86, 214, 0.10);
	}

}

.input {
	position: relative;
	@extend .text;
	width: 100%;
	max-width: 70vw;

	&:hover {
		background-color: inherit;
	}
}
.error{
	position: absolute;
	font-size: 24px;
	color: red;
	left: 0;
	bottom: 0;
}
}