.section {
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--black-00);
  transition: color var(--transition-delay) var(--transition-timing);

  &Text {
    font-weight: 600;
  }

  &:hover {
    color: var(--indigo);
  }

  &:active {
    color: var(--indigo);
  }
}
