.container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 33px;
	margin:32px 0;
.iconButtonContainer{
		display: flex;
		flex-direction: row;
	gap: 12px;
	align-items: center;
	.iconButton{
		//width: 40px;
		height: 32px;
		padding: 12px 8px;
	}
}
}