:root {
  --black-00: #1b1b2b;
  --gray-01: #6b6b6b;
  --gray-02: #8d8d8d;
  --gray-03: #d4d4d4;
  --gray-04: #f1f1f1;
  --gray-05: #fafafa;
  --gray-06: #f9f9f9;
  --gray-07: #f6f7fa;
  --green-00: #cbecd9;
  --green-01: #27ae60;
  --indigo: #5856d6;
  --lazur-dark: #3c67af;
  --lazur-light: #85c7ee;
  --lily: #c9b4d8;
  --purple: #ae94ef;
  --purple-00: #e3daf9;
  --purple-01: #6e41e2;
  --purple-02: #5835b0;
  --purple-03: #472c8a;
  --red-00: #f9e3e3;
  --red-01: #c7302b;
  --stroke-00: rgba(193, 216, 242, 0.7);
  --stroke-01: rgba(141, 141, 141, 0.6);
  --yellow: #fff5c0;
  --white-00: #ffffff;
  --wind-dark: #8f99cd;
  --wind: #c1d8f2;
  --wind-light: #edf4fc;
  --gradient-card: radial-gradient(88.62% 88.62% at 0% 100%, #f5ecf3 34.69%, #edf3f8 72.02%, #f8f8f8 100%);
  --gradient-logo: linear-gradient(315deg, #85c7ed 15.35%, #3d66b0 48.59%, #c9b5d9 84.65%);
  --box-shadow-dropdown: -4px -4px 20px rgba(212, 212, 212, 0.2), 4px 4px 20px rgba(212, 212, 212, 0.2);
  --box-shadow-modal: -4px -4px 32px rgba(199, 199, 204, 0.2), 4px 4px 32px rgba(199, 199, 204, 0.2);
}
