:root {
  --primary-font: 'Manrope';
  --secondary-font: 'JetBrains Mono';
  --font-family: var(--primary-font), var(--secondary-font), system-ui, Helvetica, Arial, sans-serif;
  --font-size: 16px;
  --border-radius-08: 0.5rem;
  --border-radius-16: 1rem;
  --border-radius-24: 1.5rem;
  --border-radius-32: 2rem;
  line-height: 1.5;
}
