.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &_xxs {
    height: 0.75rem;
    width: 0.75rem;
  }

  &_xs {
    height: 1rem;
    width: 1rem;
  }

  &_s {
    height: 1.5rem;
    width: 1.5rem;
  }

  &_m {
    height: 2rem;
    width: 2rem;
  }

  &_l {
    height: 2.75rem;
    width: 2.75rem;
  }

  &_inter {
    cursor: pointer;
  }
}
