.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &_s {
    height: 1.5rem;
    width: 1.5rem;
  }

  &_m {
    height: 2rem;
    width: 2rem;
  }

  &_l {
    height: 2.75rem;
    width: 2.75rem;
  }
}
