@import 'src/styles/variables/media.scss';

.authLayout {
  background: var(--gradient-card);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
}

.button {
  position: absolute;
  top: 4%;
  left: 11.5%;

  @media (max-width: $md) {
    display: none;
  }
}
