.heading {
  &Text {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  &Sub {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &Link {
    color: var(--purple-01);
  }
}
