.heading {
  margin-bottom: 2.5rem;

  &Text {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  &Sub {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &Link {
    color: var(--purple-01);
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.buttonWrapper {
  width: 100%;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  margin: 2rem 0;

  &Line {
    border-bottom: 1px solid var(--gray-02);
    width: 43%;
  }
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.error {
  color: var(--red-01);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
