.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &Text {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-03);
    user-select: none;
  }

  &Icon {
    margin: 0 0.875rem;
  }
}
