@import 'src/styles/variables/media.scss';

.signIn {
  background-color: var(--gray-07);
  flex: 1 1 auto;
  position: relative;
  display: flex;

  &::after {
    content: '';
    position: absolute;
    background: url('../../assets/images/signin/abstraction.svg') 100% 50% / auto 100vh no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.aside {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  @media (max-width: $lg) {
    display: none;
  }

  &Logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &Text {
    color: var(--purple-02);
    font-size: 2rem;
    font-weight: 700;
  }
}
