.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--gray-04);
  border-radius: var(--border-radius-12);
  padding: 0.25rem;
  height: 2.5rem;
}
